[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
dash-bootstrap-components = "*"
gunicorn = "*"
plotly = "*"
joblib = "*"
scikit-learn = "*"
category-encoders = "*"
xgboost = "*"
pandas = "*"
numpy = "==1.19.3"
spotipy = "*"
tensorflow = "*"
sklearn = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
